doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/index.css")
        title AMANECER 
    body.bodyContainer 
        .left 
            .navContainer
                .navItem.navItemSelected 
                    .up.upSelected
                    .backColor
                        .navText.neTextSelected 
                            text LOG IN
                    .down.downSelected
                .navItem 
                    .up
                    .backColor
                        .navText 
                            text SIGN IN
                    .down
        .right 
            .logo AMANECER
            input(type="text")
            input(type="password")
            input(type="button", value="LOG IN")