.left 
    .navContainer  
        div(class=(navItemSelected=='login')?'navItemSelected':'navItem')
            .up
            .backColor
                a.navText(href='/login') 
                    text LOG IN
            .down
        div(class=(navItemSelected=='signin')?'navItemSelected':'navItem')
            .up
            .backColor
                a.navText(href='/signin') 
                    text SIGN IN
            .down