extends templates/indexTemp.pug

block main
    .right
        div(class="enterInfo logInContainer")
            img(src="../assets/img/Logo.jpeg")
            div(class="info logInInfo")
                .inputContainer
                    .inputIcon 
                    input(type="text",placeholder="USUARIO")
                .inputContainer
                    .inputIcon
                    input(type="password",placeholder="CONTRASEÑA")
        a(href="/landingPage",class="indexButton") 
            text LOG IN